@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{ 
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    background-color: #CF0000;
    padding: 20px;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    background-color : #1A1A1A;
    list-style : none;
    margin : 0;
    padding : 0;
    overflow : auto;
}
  
li{
    float : left;
    padding : 20px;
}

li:hover{
    cursor: pointer;
    background-color: #555555;
}

section{
    background-color: #1A1A1A;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    background-color: #1A1A1A;
    border : 0px;
    border-radius: 20px;
    border-collapse : collapse;
}
 
td, th{
    margin: 10px;
    padding: 10px;
    border :0px solid #f4f4f4;
}

button{
    margin: 10px;
    padding: 20px;
    border: 1px solid #555555;
    background-color: #1A1A1A;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: #555555;
}

footer{
    display: flex;
    background-color: #1A1A1A;
    padding: 0%;
    margin: auto 0% 0 0;
}

.hidden{
    display: none;
}

.tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    text-align: center;
    width: 10%;
}

.info_dump{
    text-align: justify;
}

.nav-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}   

.feed{
    margin: 10px;
    width: 70%;
}

.summary-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filter{
    margin: 10px;
    padding: 5px;
    border: 0px;
    background-color: #1A1A1A;
    color: white;
}

@media(min-width: 600px) and (max-width:990px){
    .feed{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
    }
  }


@media (max-width:599px){
    .feed{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    input{
        margin-left: 5%;
        width: 60%;
    }

}